<% include ./partials/header %>

<section id="contact_us">
	<h2 class="title">CONTACT US</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="text">
				<div class="textalign">
					<i class="fa fa-map-marker-alt"><span class="heading"> Address </span></i>
					<p class="para"><em>Sadguru Rice Traders, Plot No-k/23, market II, phase II, Dana bunder, vashi, Navi Mumbai, Maharashtra, 400705, India</em></p>
					<i class="fa fa-phone"><span class="heading"> Lets Talk</span></i>
					<p class="para"><em>022 – 40131721,8898041429,9920018111</em></p>
					<i class="fa fa-envelope"><span class="heading">	General Support</span></i>
					<p class="para"><em>deemahek10@gmail.com</em></p>
					<h4 class="heading">You Can Find Us Here:</h4>
					<i class="para location fa fa-map-marker-alt"><a href="https://maps.google.com/?q=19.0825655,73.0086558">  Get directions</a></i>
				</div>
			</div>
	    </div>
	    <div class="col-md-6">
			<div class="formC">
				<form action="#">
					<h4>Send Us a Message</h4>
					<label>TELL US YOUR NAME*</label>
					<input type="text" placeholder="First Name                     Last Name">
					<label>ENTER YOUR EMAIL*</label>
					<input type="email" placeholder="Eg: example@gmail.com">
					<label>ENTER CONTACT NUMBER*</label>
					<input type="text" placeholder="Enter A Valid 10 Digit Contact No">
					<label>ENTER YOUR MESSAGE HERE*</label>
					<textarea cols="60" rows="4"></textarea>
					<button type="button" class="btn btn-success">Send Message</button>
				</form>
			</div>
		</div>
	</div>
</section>

<% include ./partials/footer %>