
	<h1 id="title">CONTACT US</h1>
	<div class="row">
		<div class="col-6">
		<div class="text">
	    <i class="fa fa-map-marker" style="font-size:30px"><span class="heading"> Address </span></i>
	    <p class="para">Sadguru Rice Traders, Plot No-k/23, market II, phase II, Dana bunder, vashi, Navi Mumbai,Maharashtra,400705, India </p>
	    <br>
	    <br>
	    <i class="fa fa-phone" style="font-size:30px"><span class="heading"> Lets Talk</span></i>
	    <p class="para">022 – 40131721,8898041429,9920018111</p>
	    <br>
	    <br>
	    <i class="fa fa-envelope" style="font-size:30px"><span class="heading">	General Support</span></i>
	    <p class="para">deemahek10@gmail.com</p>
	    <br>
	    <br>
	    <div>
	    	<h4>You can find us here:</h4>
	    	<i class="fa fa-map-marker" style="font-size:20px"><a href="https://maps.google.com/?q=19.0825655,73.0086558">  Get directions</a></i>
	    </div>
	    </div>
	    </div>
	    <div class="col-6">
	    <div class="form">
		<h4 style="margin-left: 200px; font-size:30px;">Send Us a message</h4>
		<br>
		<br>
		<label>TELL US YOUR NAME*</label>
		<input type="text" placeholder="First Name                     Last Name">
		<br>
		<br>
		<label>ENTER YOUR EMAIL*</label>
		<input type="email" placeholder="Eg:example@gmail.com">
		<br>
		<br>
		<label>ENTER PHONE NUMBER</label>
		<input type="text" placeholder="Enter a valid 10 digit phone No">
		<br>
		<br>
		<label>ENTER YOUR MESSAGE HERE*</label>
		<textarea cols="68" rows="5"></textarea>
		<br>
		<br>
		<button type="button" class="btn btn-success" style="margin-left: 200px;">Send Message</button>
		</div>
		
	 </div>
	</div>






