<% include ./partials/header %>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div id="content">
        <h1>My Shop Name</h1>
        <p><em>Our Motive Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque optio minima enim quidem unde iure id nihil repudiandae ullam odit Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia nemo aliquam. </em> </p>
        <a class="btn btn-primary btn-lg" href="#know_more">Know More</a>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/wheat2.jpg" class="d-block w-100" alt="Image">
        </div>
        <div class="carousel-item" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/wheat1.jpg" class="d-block w-100" alt="Image">
        </div>
        <div class="carousel-item" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/rice1.jpg" class="d-block w-100" alt="Image">
        </div>
        <div class="carousel-item" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/jaggary1.jpg" class="d-block w-100" alt="Image">
        </div>
        <div class="carousel-item" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/shop.jpg" class="d-block w-100" alt="Image">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section id="know_more">
    <div class="head-info">
        <h1>We sell many variations of following...</h1>
    </div>
    <div class="row">
        <div class="c col-lg-6">
            <div class="pic pic1"></div>
        </div>
        <div class="c col-lg-6">
            <div class="info">
                <h1>Wheat</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugit corrupti accusamus omnis possimus quidem, alias delectus deleniti. Perferendis voluptates, sed provident sunt veniam aliquid aperiam laborum eaque culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatem.</p>
                <a class="btn btn-outline-success" href="#">Order Now</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="i2 c col-lg-6">
            <div class="info">
                <h1>Rice</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugit corrupti accusamus omnis possimus quidem, alias delectus deleniti. Perferendis voluptates, sed provident sunt veniam aliquid aperiam laborum eaque culpa. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, distinctio!</p>
                <a class="btn btn-outline-success" href="#">Order Now</a>
            </div>
        </div>
        <div class="p2 c col-lg-6">
            <div class="pic pic2"></div>
        </div>
    </div>
    <div class="row">
        <div class="c col-lg-6">
            <div class="pic pic3"></div>
        </div>
        <div class="c col-lg-6">
            <div class="info">
                <h1>Jaggery</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui fugit corrupti accusamus omnis possimus quidem, alias delectus deleniti. Perferendis voluptates, sed provident sunt veniam aliquid aperiam laborum eaque culpa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, adipisci.</p>
                <a class="btn btn-outline-success" href="#">Order Now</a>
            </div>
        </div>
    </div>
</section>

<section id="feature">
    <div class="row">
        <div class="c col-md-4">
            <div class="f feature1">
                <div class="feature-info">
                    <i class="fas fa-hotel"></i>
                    <h3>Feature1</h3>
                    <p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit laudantium ipsa eaque consectetur ad quae.</em></p>
                </div>
            </div>
        </div>
        <div class="c col-md-4">
            <div class="f feature2">
                <div class="feature-info">
                    <i class="fas fa-hotel"></i>
                    <h3>Feature2</h3>
                    <p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit laudantium ipsa eaque consectetur ad quae.</em></p>
                </div>
            </div>
        </div>
        <div class="c col-md-4">
            <div class="f feature3">
                <div class="feature-info">
                    <i class="fas fa-hotel"></i>
                    <h3>Feature3</h3>
                    <p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit laudantium ipsa eaque consectetur ad quae.</em></p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>Copyright &copy; 2000 - 2019 All Rights Reserved</p>
</footer>      

<% include ./partials/footer %>
