<% include ./partials/header %>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div id="content">
        <h1>SADGURU RICE TRADERS</h1>
        <p><em>Rice Wholesaler in NAVI MUMBAI <br>at 10:30 AM tomorrow</em> </p>
        <a class="btn btn-primary btn-lg" href="#know_more">Know More</a>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/wheat2.jpg" class="d-block w-100" alt="Image">
        </div>
        <div class="carousel-item" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/wheat1.jpg" class="d-block w-100" alt="Image">
        </div>
        <div class="carousel-item" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/rice1.jpg" class="d-block w-100" alt="Image">
        </div>
        <div class="carousel-item" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/jaggary1.jpg" class="d-block w-100" alt="Image">
        </div>
        <div class="carousel-item" data-interval="6000">
            <img class="img" src="/images/slideshow_pics/shop.jpg" class="d-block w-100" alt="Image">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section id="know_more">
    <div class="head-info">
        <h1>OUR PRODUCTS</h1>
    </div>
    <div class="row">
        <div class="c col-lg-6">
            <div class="pic pic1"></div>
        </div>
        <div class="c col-lg-6">
            <div class="info">
                <h1>ORGANIC RICE</h1>
                <ul class="product_list">
                    <li><a href="#">Aishwarya Wada Colam Organic Rice <strong><span>></span></strong></a></li>
                    <li><a href="#">Panchshil Old Wada Colam <strong><span>></span></strong></a></li>
                    <li><a href="#">Kolam Rice <strong><span>></span></strong></a></li>
                </ul>
                <a class="btn btn-outline-success" href="#">View All</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="i2 c col-lg-6">
            <div class="info">
                <h1>PURE SUGAR</h1>
                <ul class="product_list">
                    <li><a href="#">Pure White Sugar <strong><span>></span></strong></a></li>
                    <li><a href="#">Pure Raw Sugar <strong><span>></span></strong></a></li>
                    <li><a href="#">Pure White Refined Sugar <strong><span>></span></strong></a></li>
                </ul>
                <a class="btn btn-outline-success" href="#">View All</a>
            </div>
        </div>
        <div class="p2 c col-lg-6">
            <div class="pic pic2"></div>
        </div>
    </div>
    <div class="row">
        <div class="c col-lg-6">
            <div class="pic pic3"></div>
        </div>
        <div class="c col-lg-6">
            <div class="info">
                <h1>SUGARCANE JAGGARY</h1>
                <ul class="product_list">
                    <li><a href="#">Pure Organic Sugarcane Jaggary<strong><span>></span></strong></a></li>
                </ul>
                <a class="btn btn-outline-success" href="#">View All</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="i4 c col-lg-6">
            <div class="info">
                <h1>ORGANIC PULSES</h1>
                <ul class="product_list">
                    <li><a href="#">Organic Arhar Pulses <strong><span>></span></strong></a></li>
                    <li><a href="#">Organic Channa Pulses <strong><span>></span></strong></a></li>
                    <li><a href="#">Organic Moong Pulses <strong><span>></span></strong></a></li>
                </ul>
                <a class="btn btn-outline-success" href="#">View All</a>
            </div>
        </div>
        <div class="p4 c col-lg-6">
            <div class="pic pic4"></div>
        </div>
    </div>
    <div class="row">
        <div class="c col-lg-6">
            <div class="pic pic5"></div>
        </div>
        <div class="c col-lg-6">
            <div class="info">
                <h1>DESI CHANNA</h1>
                <ul class="product_list">
                    <li><a href="#">Organic Desi Channa <strong><span>></span></strong></a></li>
                    <li><a href="#">Organic  Chickpea Channa <strong><span>></span></strong></a></li>
                </ul>
                <a class="btn btn-outline-success" href="#">View All</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="i6 c col-lg-6">
            <div class="info">
                <h1>NEW ITEMS</h1>
                <ul class="product_list">
                    <li><a href="#">Kurbania Super Dubar <strong><span>></span></strong></a></li>
                    <li><a href="#">Kurbania Tibar <strong><span>></span></strong></a></li>
                    <li><a href="#">Qurbania Basmati Mini Dubar <strong><span>></span></strong></a></li>
                </ul>
                <a class="btn btn-outline-success" href="#">View All</a>
            </div>
        </div>
        <div class="p6 c col-lg-6">
            <div class="pic pic6"></div>
        </div>
    </div>
</section>

<section id="feature">
    <div class="row">
        <div class="c col-md-4">
            <div class="f feature1">
                <div class="feature-info">
                    <i class="fas fa-hotel"></i>
                    <h3>Feature1</h3>
                    <p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit laudantium ipsa eaque consectetur ad quae.</em></p>
                </div>
            </div>
        </div>
        <div class="c col-md-4">
            <div class="f feature2">
                <div class="feature-info">
                    <i class="fas fa-hotel"></i>
                    <h3>Feature2</h3>
                    <p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit laudantium ipsa eaque consectetur ad quae.</em></p>
                </div>
            </div>
        </div>
        <div class="c col-md-4">
            <div class="f feature3">
                <div class="feature-info">
                    <i class="fas fa-hotel"></i>
                    <h3>Feature3</h3>
                    <p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit laudantium ipsa eaque consectetur ad quae.</em></p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="social">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f social-icon"></i></a>
        <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter social-icon"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram social-icon"></i></a>
        <a href="https://mail.google.com/" target="_blank"><i class="fa fa-envelope social-icon"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube social-icon"></i></a>
        <a href="https://in.pinterest.com/" target="_blank"><i class="fab fa-pinterest social-icon"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in social-icon"></i></a>
    </div>
</footer>      

<% include ./partials/footer %>
