<% include ./partials/header %>
<h1>...</h1>
<h1>...</h1>
<h1>...</h1>
<h1>...</h1>
<h1>...</h1>
<h1>...</h1>
<h1>Sign Up Form</h1>

<form action="/signup" method="POST">
    <input type="text" name="fname" placeholder="first name" required>
    <input type="text" name="lname" placeholder="Last name" required>
    <input type="email" name="email" placeholder="email" required>
    <input type="text" name="contact" placeholder="contact no" required>
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <button>Submit</button>
</form>

<% include ./partials/footer %>