<% include ./partials/header %>
<div id="form">
    <div class="border">
        <h3>Sign Up</h3>
        <form action="/signup" method="POST">
            <i class="fas fa-pencil-alt"></i>
            <input type="text" name="fname" placeholder="First Name" required>
            <i class="fas fa-pencil-alt"></i>
            <input type="text" name="lname" placeholder="Last Name" required>
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" placeholder="Email" required>
            <i class="fas fa-mobile-alt"></i>
            <input type="text" name="contact" placeholder="Contact No" required>
            <i class="fas fa-user-circle"></i>
            <input type="text" name="username" placeholder="Create Username" required>
            <i class="fas fa-unlock-alt"></i>
            <input type="password" name="password" placeholder="Create Password" required>
            <button class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>


<% include ./partials/footer %>