/* common styling */

html{
    min-height: 100%;
    position: relative;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* styling navbar */

#logo{
    height: 55px;
}

nav{
    font-size: 1.1rem;
    background-color: rgb(57, 84, 112);
    font-weight: 700;
    opacity: 0.9;
}

.navbar-brand{
    color: #fff !important;
    font-size: 1.8rem !important;
    margin: none;
    padding: 0 !important;
}

.fa-bars{
    color: #fff;
    font-size: 1.8rem;
}

.n-link{
    display: inline-block;
    margin: none;
    color: #ece2e2;
    padding: 10px 4px;
    margin: auto 2px;
    transition: font-size, background-color 0.1s ease-in-out;
    width: 7rem;
    text-align: center;
}

.n-link:hover, .active{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    background-color: rgb(69, 102, 133);
    border-radius: 7px;
}

.n-link:active{
    background-color: rgb(104, 136, 165);
}

.n-list{
    margin-right: 3rem;
}

/* responsive styling */

@media (max-width: 992px){
    .n-link{
        width: 100%;
        margin-top: 0.3rem;
    }
    .n-list{
        margin-top: 0.5rem;
        margin-right: 0;
    }
    #know_more .p2, #know_more .p4, #know_more .p6{
        order: 1;
    }
    #know_more .i2, #know_more .i4, #know_more .i6{
        order: 2;
    }
}

/* styling the slideshow */

.img{
    height: 100vh;
    width: 100vw;
}

#carouselExampleFade{
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
}

.carousel-inner{
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

/* styling slideshow content */

#content{
    color: #fff;;
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    padding-top: 11%;
}

#content h1{
    font-family: 'Merriweather', serif;
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
    text-shadow: 3px 3px rgba(0,0,0, 0.5);
}

#content p{
    font-size: 1.4rem;
    font-weight: 400;
    text-shadow: 2px 2px rgba(0,0,0,0.6);
    margin-bottom: 40px;
    text-decoration: underline;
    color: rgb(237, 238, 230);
}

/* responsive styling */

@media(max-width: 566px){
    #content{
        max-width: 300px;
        padding-top: 40%;
    }
    #content h1{
        font-size: 3.2rem;
        font-weight: 500;
    }
    #content p{
        font-size: 1rem;
    }
}

@media(min-width: 566px) and (max-width: 830px){
    #content{
        max-width: 400px;
        padding-top: 10%;
    }
    #content h1{
        font-size: 3.2rem;
        font-weight: 500;
    }
    #content p{
        font-size: 1rem;
    }
}

/* styling product info section */

#know_more{
    background-color: #d3e2df69;
}

#know_more .row{
    margin: 0 !important;
}

#know_more .row .c{
    height: 450px;
    margin: 0 !important;
    padding: 0 !important;
}

#know_more .pic{
    height: 85%;
    width: 75%;
    margin: 10px auto;
    border-radius: 3%;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.3);
}

#know_more .pic1{
    background: url("/images/info-section-pics/rice.jpg") no-repeat center center/cover;
}

#know_more .pic2{
    background: url("/images/info-section-pics/sugar.jpg") no-repeat center center/cover;
}

#know_more .pic3{
    background: url("/images/info-section-pics/jaggery.jpg") no-repeat center center/cover;
}

#know_more .pic4{
    background: url("/images/info-section-pics/pulses.jpg") no-repeat center center/cover;
}

#know_more .pic5{
    background: url("/images/info-section-pics/channa.jpg") no-repeat center center/cover;
}

#know_more .pic6{
    background: url("/images/info-section-pics/newItems.jpg") no-repeat center center/cover;
}

#know_more .info{
    text-align: center;
    width: 70%;
    margin: 35px auto;
    padding: 30px 40px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
}
#know_more .info h1{
    font-weight: 700;
    padding-bottom: 1.2rem;
    color: steelblue;
}

#know_more .info .btn{
    font-weight: 700;
}

#know_more .head-info h1{
    font-size: 4.5rem;
    margin: auto;
    padding: 2rem 0;
    text-align: center;
    color: #237dac;
    text-shadow: 3px 3px 5px rgba(0,0,0, 0.2);
    width: 90%;
    border-bottom: 2px solid rgba(0,0,0, 0.1);
    margin-bottom: 2rem;
}

#know_more .info .product_list{
    list-style: none;
}

#know_more .info .product_list li{
    background-color: rgba(0,0,0,0.1);
    margin: 5px;
    padding: 10px 20px;
    font-weight: 500;
    text-align: left;
}

#know_more .info .product_list li span{
    float: right;
}

#know_more .info .product_list li a{
    text-decoration: none;
    color: #454649;
    font-size: 1.2rem;
}

#know_more .info .product_list li:hover a{
    color: #13202c;
}

/* responsive styling */

@media(min-width: 992px) and (max-width: 1200px){
    #know_more .row .c{
        height: 550px;
    }
}

@media(max-width: 576px){
    #know_more .row .c{
        height: 580px;
    }
    #know_more .info{
        width: 90%;
        margin: auto;
    }
    #know_more .pic{
        width: 90%;
        margin: auto;
    }
}

/* styling feature section */

#feature .row{
    margin: 0 !important;
}

#feature .c{
    height: 300px;
    padding: 0 !important;
    margin: 0 !important;
}

#feature .f{
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

#feature .feature-info{
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 3rem;
}

#feature .feature-info h3{
    font-weight: 700;
    padding-bottom: 0.7rem;
}

#feature .feature-info p{
    font-weight: 500;
    line-height: 1.4;
}

#feature i{
    font-size: 3rem;
    padding-bottom: 1rem;
}

#feature .feature1{
    background-color: rgb(216, 209, 200);
}

#feature .feature2{
    background-color: rgb(189, 172, 129);
}

#feature .feature3{
    background-color: rgb(216, 209, 200);
}

/* styling footer section */

footer{
    background-color: rgba(0, 0, 0, 0.705);
    margin: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    padding: 1rem 0 !important;
    margin: 0 !important;
    text-align: center;
    color: white;
}

footer .social {
    padding: 5px;
    text-align: center;
}
  
footer .social-icon {
    text-align: center;
    width: 43px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    margin: 5px 7px;
}

footer .social .fa-facebook-f {
    background-color: #3b5999;
}

footer .social .fa-twitter {
    background-color: #1da1f3;
}

footer .social .fa-instagram {
    background-color: #3e749a;
}

footer .social .fa-youtube {
    background-color: #fe0000;
}

footer .social .fa-pinterest {
    background-color: #e60024;
}

footer .social .fa-linkedin-in {
    background-color: #0077b4;
}

.footer_space{
    height: 58px;
}


/* styling the rice products page */

.product{
    padding-top: 6rem;
    padding-bottom: 1rem; 
    background-color: rgba(207, 200, 200, 0.1);
}

.product .product_title{
    font-size: 2.7rem;
    margin-bottom: 1.8rem;
    color: #3c4f79;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding: 10px 0;
}

.product .card{
    margin-bottom: 1.5rem !important;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.card-img{
    width: 80% !important;
    height: 80% !important;
    margin: 10% 10% !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.card-body{
    margin-left: 15px;
}

h2.card-title{
    margin-bottom: 30px;
}

.card-text{
    margin: 15px auto 15px 20px !important;
    font-size: 1.3rem;
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.card-text .property{
    display: inline-block;
    width: 300px;
    color: #797e81;
}

.product .card-body .btn{
    margin-left: 25%;
    margin-top: 20px;
    width: 160px;
    font-size: 1.2rem;
    font-weight: 700;
}

/* styling popup window */


/* The Modal (background) */
.mod {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.mod1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.mod-content {
background-color: #e5ebeafd;
width: 60vw;
height: 65vh;
margin: 15vh 20vw; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
font-size: 1rem;
font-weight: 500;
}

.mod .mod-content h2{
    color: rgb(94, 9, 9);
    font-weight: 600;
    margin: auto;
    max-width: 90%;
    text-align: center;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.mod .mod-content img{
    width: 90%;
    height: 80%;
    margin: 10% 5%;
    margin-top: 15%;
    margin-left: 15%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mod .mod-content form{
    padding: 15px 15px;
    margin-left: 20px;
    width: 90%;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.mod .mod-content form label{
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: steelblue;
}

.mod .mod-content form input, .mod .mod-content form select{
    font-size: 1 rem !important;
    font-weight: 500;
    height: 2rem;
    margin: 5px 10px;
}

.mod .mod-content form input#typeOfDelivery{
    height: 1rem;
    width: 1rem !important;
}

.mod .mod-content .customer-info{
    padding: 15px;
    line-height: 0.8;
    margin-left: 15px;
}

.mod .mod-content .customer-info h4{
    font-weight: 500;
    color: steelblue;
    margin-bottom: 20px;
}
  
/* The Close Button (x) */
.mod .mod-content .cl{
    float: right;
    color: #000;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: -0.6rem;
    margin-right: 0.9rem;
}
  
.mod .mod-content .cl:hover{
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* styling signin and signup form */

#form{
    max-width: 500px;
    margin: 20vh auto;
}

#form .border{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.04);
}

#form h3{
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
    margin: 5px 0 20px 0;
    color: steelblue;
}

#form form{
    width: 90%;
    margin: auto;
}

#form form input{
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    width: 100%;
    margin: 10px 10px;
    height: 40px;
    padding-left: 55px;
    height: 2.7rem;
    border: none;
    border: 1px solid rgb(151, 154, 156);
    border-radius: 5px;

}
#form form>i{
    color: gray;
    font-size: 1.7rem;
    position: absolute;
    padding: 10px 25px; 
    min-width: 40px; 
}


#form form input:focus{
    border: none;
    border: 2px solid steelblue;
}

#form form .btn{
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    margin: 10px 10px;
}

#form .quote p{
    text-align: center;
    padding: 10px 30px;
    margin: auto;
    color: gray;
    font-size: 1.2rem;
    font-weight: 500;
}